name: Premier workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MY_VARIABLE: "This is a variable"

    steps:
      - name: Afficher un message de bienvenue
        run: echo "Hello, GitHub Actions!"

      - name: Afficher la variable d'environnement
        run: echo "${{ env.MY_VARIABLE }}"

      - name: Afficher le secret (masqué automatiquement)
        run: echo "${{ secrets.MY_SECRET }}"

      - name: Créer un fichier hello.txt avec Bash
        run: echo "Hello world" > hello.txt

      - name: Lire le contenu de hello.txt
        run: cat hello.txt
